resources/VMSHeadendService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:fault="http://fault.ack.headend.ws.vms.centrica.com"
	xmlns:hdns="http://header.ack.headend.ws.vms.centrica.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax23="http://model.ack.headend.ws.vms.centrica.com"
	xmlns:ax24="http://model.ppkey.ack.headend.ws.vms.centrica.com"
	xmlns:xsd="http://service.ack.headend.ws.vms.centrica.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://service.ack.headend.ws.vms.centrica.com">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://model.ack.headend.ws.vms.centrica.com">
			<xs:complexType name="Transaction">
				<xs:sequence>
					<xs:element minOccurs="0" name="transactionID" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeliveryReceipt">
				<xs:complexContent>
					<xs:extension base="ax23:Transaction">
						<xs:sequence>
							<xs:element minOccurs="1" name="deliveryStatus"
								nillable="false" type="ax23:ResponseCode" />
							<xs:element minOccurs="0" name="description" nillable="true"
								type="xs:string" />
							<xs:element minOccurs="0" name="topUpValue" nillable="true"
								type="xs:string" />
							<xs:element minOccurs="0" name="meterSource" nillable="true"
								type="ax23:MeterSource" />
							<xs:element minOccurs="0" name="creditRemaining"
								nillable="true" type="xs:string" />
							<xs:element minOccurs="0" name="vendCode" nillable="true"
								type="xs:string" />
							<xs:element minOccurs="0" name="timestamp" nillable="true"
								type="xs:dateTime" />
							<xs:element minOccurs="0" name="msn" nillable="true"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="ResponseCode">
				<xs:restriction base="xs:int">
					<!-- Vend Code Accepted -->
					<xs:enumeration value="200" />
					<!-- Rejected-Invalid Top Up -->
					<xs:enumeration value="300" />
					<!-- Rejected-Duplicate Top Up -->
					<xs:enumeration value="310" />
					<!-- Rejected-Error -->
					<xs:enumeration value="320" />
					<!-- Rejected-Max credit reached -->
					<xs:enumeration value="330" />
					<!-- Rejected-Keypad Lock -->
					<xs:enumeration value="340" />
					<!-- Unknown Error -->
					<xs:enumeration value="350" />
					<!-- Rejected- No Token Received  -->
					<xs:enumeration value="360" />
					<!-- Rejected-Token Received but could not be processed  -->
					<xs:enumeration value="370" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="MeterSource">
				<xs:restriction base="xs:int">
					<!-- IHD -->
					<xs:enumeration value="1" />
					<!-- ESI (OTA) -->
					<xs:enumeration value="2" />
					<!-- METER -->
					<xs:enumeration value="3" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DeliveryReceiptResponse">
				<xs:complexContent>
					<xs:extension base="ax23:Transaction">
						<xs:sequence>
							<xs:element minOccurs="1" name="deliveryStatus"
								nillable="false" type="ax23:DeliveryStatusCode" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="DeliveryStatusCode">
				<xs:restriction base="xs:int">
					<xs:enumeration value="200" />
					<xs:enumeration value="300" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>

		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://model.ppkey.ack.headend.ws.vms.centrica.com">
			<xs:complexType name="PPKeyTransaction">
				<xs:sequence>
					<xs:element minOccurs="1" name="transactionID" nillable="false"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeliveryPPKeyReceipt">
				<xs:complexContent>
					<xs:extension base="ax24:PPKeyTransaction">
						<xs:sequence>
							<xs:element minOccurs="1" name="deliveryStatus"
								nillable="false" type="ax24:PPKeyStatusCode" />
							<xs:element minOccurs="0" name="description" nillable="true"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DeliveryPPKeyReceiptResponse">
				<xs:complexContent>
					<xs:extension base="ax24:PPKeyTransaction">
						<xs:sequence>
							<xs:element minOccurs="1" name="status" nillable="false"
								type="ax24:PPKeyStatusCode" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="PPKeyStatusCode">
				<xs:restriction base="xs:int">
					<xs:enumeration value="200" />
					<xs:enumeration value="300" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://service.ack.headend.ws.vms.centrica.com"
			xmlns:ax24="http://model.ppkey.ack.headend.ws.vms.centrica.com">
			<xs:import namespace="http://model.ppkey.ack.headend.ws.vms.centrica.com" />
			<xs:element name="acknowledgePPKeyDelivery">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="deliveryPPKeyReceipt"
							nillable="false" type="ax24:DeliveryPPKeyReceipt" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="acknowledgePPKeyDeliveryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="deliveryPPKeyReceiptResponse"
							nillable="false" type="ax24:DeliveryPPKeyReceiptResponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>

		<xs:schema xmlns:ax23="http://model.ack.headend.ws.vms.centrica.com"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://service.ack.headend.ws.vms.centrica.com">
			<xs:import namespace="http://model.ack.headend.ws.vms.centrica.com" />
			<xs:element name="acknowledgePaymentDelivery">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="deliveryReceipt"
							nillable="false" type="ax23:DeliveryReceipt" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="acknowledgePaymentDeliveryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="deliveryReceiptResponse"
							nillable="false" type="ax23:DeliveryReceiptResponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:hdns="http://header.ack.headend.ws.vms.centrica.com"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://header.ack.headend.ws.vms.centrica.com">
			<xs:complexType name="RequestHeader">
				<xs:sequence>
					<xs:element name="userDetails" nillable="false"
						type="hdns:UserDetails" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UserDetails">
				<xs:sequence>
					<xs:element name="userName" nillable="false" type="xs:string" />
					<xs:element name="password" nillable="false" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
        <xs:schema  xmlns:fault="http://fault.ack.headend.ws.vms.centrica.com" attributeFormDefault="qualified" 
        elementFormDefault="qualified" targetNamespace="http://fault.ack.headend.ws.vms.centrica.com">
      		<xs:complexType name="ApiFault">
        		<xs:sequence>
         		 <xs:element name="exceptionMessage" type="xs:string"/>
       		 </xs:sequence>
     		 </xs:complexType>
	  		 <xs:element name="LoginFault">
        		<xs:complexType>
          			<xs:complexContent>
            		<xs:extension base="fault:ApiFault"/>
          			</xs:complexContent>
        		</xs:complexType>
	  		 </xs:element>
        </xs:schema>
	</wsdl:types>
	<wsdl:message name="acknowledgePaymentDeliveryRequest">
		<wsdl:part name="parameters" element="xsd:acknowledgePaymentDelivery" />
	</wsdl:message>
	<wsdl:message name="acknowledgePaymentDeliveryResponse">
		<wsdl:part name="parameters" element="xsd:acknowledgePaymentDeliveryResponse" />
	</wsdl:message>
	<wsdl:message name="acknowledgePPKeyDeliveryRequest">
		<wsdl:part name="parameters" element="xsd:acknowledgePPKeyDelivery" />
	</wsdl:message>
	<wsdl:message name="acknowledgePPKeyDeliveryResponse">
		<wsdl:part name="parameters" element="xsd:acknowledgePPKeyDeliveryResponse" />
	</wsdl:message>
	<wsdl:message name="Header">
		<wsdl:part name="request_header" type="hdns:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="LoginFault">
		<wsdl:part name="fault" element="fault:LoginFault"/>
	</wsdl:message>
	<wsdl:portType name="VMSHeadendServicePortType">
	<wsdl:operation name="acknowledgePPKeyDelivery">
            <wsdl:input message="xsd:acknowledgePPKeyDeliveryRequest" wsaw:Action="urn:acknowledgePPKeyDeliveryRequest"/>
            <wsdl:output message="xsd:acknowledgePPKeyDeliveryResponse" wsaw:Action="urn:acknowledgePPKeyDeliveryResponse"/>
            <wsdl:fault message="xsd:LoginFault" name="LoginFault"/>
        </wsdl:operation>
        <wsdl:operation name="acknowledgePaymentDelivery">
            <wsdl:input message="xsd:acknowledgePaymentDeliveryRequest" wsaw:Action="urn:acknowledgePaymentDelivery"/>
            <wsdl:output message="xsd:acknowledgePaymentDeliveryResponse" wsaw:Action="urn:acknowledgePaymentDeliveryResponse"/>
            <wsdl:fault message="xsd:LoginFault" name="LoginFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VMSHeadendServiceSoapBinding" type="xsd:VMSHeadendServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="acknowledgePaymentDelivery">
            <soap:operation soapAction="urn:acknowledgePaymentDelivery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoginFault">
        		<soap:fault name="LoginFault" use="literal"/>
     		</wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="acknowledgePPKeyDelivery">
            <soap:operation soapAction="urn:acknowledgePPKeyDelivery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoginFault">
        		<soap:fault name="LoginFault" use="literal"/>
     		</wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="VMSHeadendAckService">
		<wsdl:port name="VMSHeadendServiceHttpSoapEndpoint" binding="xsd:VMSHeadendServiceSoapBinding">
			<soap:address
				location="http://localhost:8080/axis2/services/VMSHeadendService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>